/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
}
.simply-section {
	background: #fff;
	width: 180px;
	height: 180px;
	margin: 0 15px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.simply-section {
    background: #8aac9c; /* Color de fondo del círculo (ajústalo según tus necesidades) */
    width: 100px; /* Ancho del círculo */
    height: 100px; /* Alto del círculo */
    margin: 0 15px; /* Espaciado entre los círculos */
    border-radius: 50%; /* Esto hace que el contenedor sea circular */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave si lo deseas */
}
/* Estilo para los números dentro del círculo */
.simply-amount {
    font-size: 28px; /* Tamaño del texto de los números */
    color: white; /* Color del texto */
}
/* Estilo para las palabras debajo de los números (Días, Horas, etc.) */
.simply-word {
    font-size: 18px; /* Tamaño del texto de las palabras */
    color: white; /* Color del texto */
    margin-top: 5px;
    text-align: center;
}
@media (max-width: 768px) {
	.simply-section {
		width: 80px;
		height: 80px;
		margin: 0 2px;
	}
	.simply-word {
		font-size: 14px;
	}
	.simply-word {
		font-size: 14px;
	}
	.simply-amount {
		font-size: 21px;
	}
}