.logo-invite-me-footer {
    color: #797979 !important;
    font-size: 23px !important; 
    margin-top: 10px;
    font-family: 'invite-me';
    font-weight: 600;
}
.logo-invite-me {
    color: white !important;
    font-size: 23px !important; 
    margin-top: 10px;
    font-family: 'invite-me';
    font-weight: 600;
}
.logo-invite-me:hover {
    color: #b08a79 !important;
    font-size: 23px !important; 
    margin-top: 10px;
    font-family: 'invite-me';
    font-weight: 600;
}
@font-face {
    font-family: 'invite-me';
    src: url("../../fonts/Hatton_Ultralight_200.otf") format("opentype");
}