.btn {
    font-family: "Marcellus", serif;
}
.regalo{
    background-size: auto 100%;
    background-color: #236a91;
}
.texto_informativo {
    font-family: "Marcellus", serif;
    color: #656565;
}
.simply-amount, .simply-word {
    color:#236a91;
     font-family: "Marcellus", serif;
}
.separator3 {
    height: 2px;
    width: 40px;
    margin:20px auto;
    background: #236a91;
    z-index: 10000;
}
.another-letter > h3, h2{
    font-family: "Marcellus", serif;
    font-style: normal;
    font-weight: 300;
}
.invite-me {
    color: white !important;
    font-size: 30px !important; 
    margin-top: 10px;
    font-family: "Abundant_Script_Demo";
    font-weight: 400;
    font-style: normal;
}
.invite-me:hover {
    color: #b08a79 !important;
    font-size: 30px !important; 
    margin-top: 10px;
}
.font-principal {
    font-family: "Abundant_Script_Demo";
    font-optical-sizing: auto;
    font-style: normal;
}
.font-principal-banner {
    font-family: "Abundant_Script_Demo";
    font-optical-sizing: auto;
    font-style: normal;
}
.font-principal-nosotros {
    font-family: "Abundant_Script_Demo";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    line-height: 1.1;
}
.font-principal-invitacion {
    font-family: "Abundant_Script_Demo";
    font-optical-sizing: auto;
    font-style: normal;
}
h1 {
    font-weight: normal;
    line-height: 3rem;
    letter-spacing: .1rem;
}
.date-container {
    text-align: center;
    padding: 20px;
}
.date-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.date-section > div {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.date-divider {
    border-left: 2px solid #6c757d;
    height: 40px;
    width: 0;
    margin: 0 15px; 
    align-self: center;
}
.date-day {
    font-weight: bold;
    margin-bottom: 5px;
}
.date-text {
    line-height: 1.2;
    margin: 0;
}
.icono-btn {
    margin-right: 8px;
    width: 50px; 
    height: 50px;
}
@font-face {
    font-family: 'Abundant_Script_Demo';
    src: url("../font/Abundant_Script_Demo.ttf") format("opentype");
}
@media (max-width: 768px) {
    .home{
        background: url('https://s3.us-east-2.amazonaws.com/s3.tusminutas.cl/invite-me/invitaciones/carol-eduardo-2024/portada.jpeg');
        background-position: 77% 30%;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; 
    }
    .musica {
        text-align: center;
    }
    .font-principal {
        font-size: 5.5rem;
    }
    .font-principal-invitacion {
        font-size: 3.5rem;
    }
    .font-principal-banner {
        font-size: 6rem;
    }
    .texto_informativo {
        font-size: 2rem;
    }
    .home_skew_border:after {
        border-right: 0px solid transparent;
    }
    .home_skew_border:before {
        border-left: 0px solid transparent;
    }
    .main_home {
        padding-top: 297px;
        padding-bottom: 22px;
        display: block;
    }
    .iconos {
        width: 23%;
    }
    .icono-btn {
        width: 45px; 
        height: 45px; 
    }
    .date-section > div {
        margin: 0 20px;
    }
    .btn-lista-novios {
        font-size: 16px;
    }
}
@media (min-width: 768px) {
    .home{
        background: url('https://s3.us-east-2.amazonaws.com/s3.tusminutas.cl/invite-me/invitaciones/carol-eduardo-2024/portada.jpeg');
        background-position: 42% 28%;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .musica {
        text-align: center;
    }
    .font-principal {
        font-size: 5.5rem;
    }
    .font-principal-invitacion {
        font-size: 4rem;
    }
    .font-principal-banner {
        font-size: 5.5rem;
    }
    .texto_informativo {
        font-size: 2.2rem;
    }
    .home_skew_border:after {
        border-right: 0px solid transparent;
    }
    .home_skew_border:before {
        border-left: 0px solid transparent;
    }
    .iconos {
        width: 23%;
    }
    .icono-btn {
        width: 45px; 
        height: 45px; 
    }
}
@media (min-width: 992px) {
    .home{
        background: url('https://s3.us-east-2.amazonaws.com/s3.tusminutas.cl/invite-me/invitaciones/carol-eduardo-2024/portada.jpeg');
        background-position: 50% 99%;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .musica {
        text-align: center;
        margin-top: 20px;
    }
    .font-principal {
        font-size: 6rem;   
    }
    .font-principal-invitacion {
        font-size: 4rem;
    }
    .font-principal-banner {
        font-size: 6rem;
    }
    .texto_informativo {
        font-size: 2.5rem;
    }
    .iconos {
        width: 20%;
    }
}
@media (min-width: 1200px) {
    .home{
        background: url('https://s3.us-east-2.amazonaws.com/s3.tusminutas.cl/invite-me/invitaciones/carol-eduardo-2024/portada.jpeg');
        background-repeat: no-repeat;
        background-position: 50% 29%;
        background-size: cover;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .musica {
        text-align: center;
        margin-top: 20px;
    }
    .font-principal {
        font-size: 6rem;    
    }
    .font-principal-invitacion {
        font-size: 4rem;
    }
    .font-principal-banner {
        font-size: 6rem;
    }
    .texto_informativo {
        font-size: 2.5rem;
    }
    .iconos {
        width: 10%;
    }
}
